
<h1>Act Stack</h1></br>
<p>Write a new premise</p>
<form action="/new_premise" method="post">
 <input type="text" name="premise" > 

  <input type="submit">
</form>


<h3>Here's a list of premises</h3>

<table border="1">
  <th>Number</th>
  <th>Here is the data</th>
  <th>Link</th>
    <% @list.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.premise %></td>
      <td><a href="/<%= item.id %>">Show</a></td>
    </tr>
    <% end %>
</table>
