<h1>Act Stack</h1></br>
<form action="/new_premise" method="post">
 <input type="text" name="premise" > 

  <input type="submit">
</form>

<h3>Premise</h3></br>
 <p><%= @premise.class %> </p>
<h3>Act 1</h3></br>
 <p><%= @premise %> </p>
<h3>Act 2</h3></br>
 <p><%= @premise %> </p>
<h3>Act 3</h3></br>
 <p><%= @premise %> </p>
