<% if flash[:premise_error] %>
  <%= flash[:premise_error] %>
<% end %>

<h1>Act Stack</h1></br>
<p>Write a new premise</p>
<form action="/new_premise" method="post">
  <textarea rows="8" cols="25" type="text" name="premise">
  </textarea>
            <br/>
      <input type="submit" value="Submit">
      <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"> </div>
</form>

<h3>Here's a list of premises</h3>

<table class="table table-striped table-bordered">
  <th>Number</th>
  <th>Premise</th>
    <% @list.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><a href="/premise/<%= item.id %>"><%= item.premise %></a></td>
    </tr>
    <% end %>
</table>


