<html>
  <head>
    <link href="<%= url('stylesheet.css') %>" rel="stylesheet" type="text/css" />
    <script src="<%= url('/actstack.js') %>" type="text/javascript"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
