<h3>Write a new act</h3>
<form action="/<%= @premise.id %>/acts"  method="post">
 <textarea rows="8" cols="25" type="text" name="content">
   A farm boy learns friendship from an old man.
 </textarea>
<input type="submit">
</form>

<%= @params %></br>
<%= @premise %>
