<table border="1">
  <th>The premise</th>
  <th>Edit?</th>
  <th>Delete</th>
    <tr>
      <td><%= @premise.premise %></td>
      <td><%= "[edit]"%></td>
      <td><%= "[delete]"%></td>
    </tr>
</table>
<a href=<%="/premise/#{@premise.id}/acts/new"%>>[New Act]</a>
